<tr>
  <td><%= link_to student.surname, student_path(student), :remote => true %></td>
  <td><%= student.name %></td>
  <td><%= student.group.number %></td>
  <td><%= I18n.l(student.birthdate) %></td>
  <td><%= student.email %></td>
  <td><%= student.ip %></td>
  <td><%= I18n.l(student.registration_time, format: :long) %></td>
  <td>
    <%= link_to "редактировать", edit_student_path(student), :remote => true %>
    <%= link_to "удалить", student_path(student), :method => :delete, :remote => true %>
  </td>
</tr>
